<div (click)="cardClick()" class="card cursor-pointer" style="height: 100%;">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <div class="card-body">
        <div class="mb-2" style="display: flex; justify-content: space-between;">
            <h5 class="fw-bold card-text"> {{ bill.id }} </h5>
        </div>
        <p>
            <strong>Waiter: </strong> <span class="badge"
                [ngClass]="bill.waiterId ? 'text-bg-success' : 'text-bg-danger'">
                {{ bill.waiterId ? 'present' : 'absent' }} </span>
        </p>

        <p>
            <strong>Guest: </strong> <span class="badge"
                [ngClass]="bill.guestId ? 'text-bg-success' : 'text-bg-danger'">
                {{ bill.guestId ? 'present' : 'absent' }} </span>
        </p>
        <p>
            <strong>Order: </strong> <span class="badge"
                [ngClass]="bill.orderId ? 'text-bg-success' : 'text-bg-danger'">
                {{ bill.orderId ? 'present' : 'absent' }} </span>
        </p>

        <p><strong>Status: </strong> <span class="badge" [ngClass]="bill.active ? 'text-bg-success' : 'text-bg-danger'">
                {{ bill.active ? 'active' : 'closed' }} </span></p>
        <p>
            <strong>Created At: </strong> {{ bill.createdAt }}
        </p>
        <p><strong>Total: </strong> {{ bill.price }} </p>
        <p><strong>Total with discount: </strong> {{ bill.priceWithDiscount }} </p>
    </div>
</div>