<ng-container *ngIf="(pageState$ | async) as pageState">
    <div class="container border my-3 rounded" style="height: 100hv;">
        <div class="container">
            <h1 class="text-center">Order: <i> {{ pageState.order.id }} </i></h1>
            <div class="row">
                <ng-container *ngIf="pageState.orderState === DataState.LOADED_STATE">
                    <div class="col-6">
                        <p class="card-text cursor-pointer"><strong>Creator: </strong><span class="badge"
                                [ngClass]="pageState.user ? 'text-bg-success' : 'text-bg-danger'">
                                {{ pageState.user.username ? pageState.user.username : 'absent' }} </span>
                        </p>
                        <p><strong>Created At: </strong> {{ pageState.order.createdAt }}</p>
                        <p><strong>Closed At: </strong> {{ pageState.order.closedAt }}</p>
                        <p class="card-text cursor-pointer" [ngClass]="pageState.table ? 'cursor-pointer' : null"
                            (click)="onTableClick()"><strong>Table: </strong><span class="badge"
                                [ngClass]="pageState.table ? 'text-bg-success' : 'text-bg-danger'">
                                {{ pageState.table.name ? pageState.table.name : 'absent' }} </span>
                        </p>
                        <p class="card-text cursor-pointer"><strong>Bill: </strong><span class="badge"
                                [ngClass]="pageState.order.billId ? 'text-bg-success' : 'text-bg-danger'">
                                {{ pageState.order.billId ? 'present' : 'absent' }} </span>
                        </p>
                        <p><strong>Status: </strong> <span class="badge"
                                [ngClass]="pageState.order.active ? 'text-bg-success' : 'text-bg-danger'">
                                {{ pageState.order.active ? 'active' : 'inactive' }} </span></p>
                        <div class="mb-3">
                            <button (click)="onClose()"
                                class="btn btn-warning me-3 w-25 border-1 border-dark">Close</button>
                            <p-toast></p-toast>
                            <p-confirmPopup></p-confirmPopup>
                            <button class="btn btn-danger me-3 w-25 border-1 border-dark"
                                (click)="onDelete()">Delete</button>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary me-3 w-25 border-1 border-dark" (click)="onAddProduct()">Add
                                products</button>
                            <button class="btn btn-primary me-3 w-25 border-1 border-dark"
                                (click)="onRemoveProduct()">Remove product</button>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary me-3 w-25 border-1 border-dark">Create bill</button>
                            <button (click)="onTransfer()"
                                class="btn btn-primary me-3 w-25 border-1 border-dark">Transfer</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="container my-3">
            <ng-container *ngIf="pageState.productsState === DataState.LOADING_STATE">
                <div class="d-flex justify-content-center align-items-center">
                    <p-progressSpinner></p-progressSpinner>
                </div>
            </ng-container>
            <ng-container *ngIf="pageState.productsState === DataState.LOADED_STATE && pageState.products.size !== 0">
                <h2 class="text-center">Order products</h2>
                <div class="row row-cols-2 row-cols-md-3 g-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let product of pageState.products | keyvalue">
                                <tr>
                                    <td> {{ product.key.name }} </td>
                                    <td> {{ product.value }} </td>
                                    <td> {{ product.key.price }} </td>
                                    <td> {{ product.key.price * product.value }} </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="addModal">
        <app-modal [closeOnClick]=false [showModal]="addModal" (closeModel)="onCloseAdd()">
            <div class="my-2">
                <app-products [border]="true" (productClick)="onProductClick($event)"></app-products>
            </div>
            <div class="my-2">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" [(ngModel)]="orderProductData.quantity" class="form-control" id="price"
                    name="quantity" max="10000">
            </div>
            <div class="my-2">
                <button (click)="addProduct()" class="btn btn-primary mx-1">Add</button>
                <button (click)="onCloseAdd()" class="btn btn-secondary mx-1">Close</button>
            </div>
        </app-modal>
    </ng-container>
    <ng-container *ngIf="removeModal">
        <app-modal [closeOnClick]=false [showModal]="removeModal" (closeModel)="onCloseRemove()">
            <div class="my-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let product of pageState.products | keyvalue">
                            <tr (click)="removeSelect(product.key)"
                                [ngClass]="product.key.id === orderProductData.productId ? 'border border-primary rounded-4 border-3' : null">

                                <td> {{ product.key.name }} </td>
                                <td> {{ product.value }} </td>
                                <td> {{ product.key.price }} </td>
                                <td> {{ product.key.price * product.value }} </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="my-2">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" [(ngModel)]="orderProductData.quantity" class="form-control" id="price"
                    name="quantity" max="10000">
            </div>
            <div class="my-2">
                <button (click)="removeProduct()" class="btn btn-primary mx-1">Remove</button>
                <button (click)="onCloseRemove()" class="btn btn-secondary mx-1">Close</button>
            </div>
        </app-modal>
    </ng-container>
    <ng-container *ngIf="transferModal">
        <app-modal [closeOnClick]=false [showModal]="transferModal" (closeModel)="onCloseTransfer()">
            <div class="my-2">
                <select [(ngModel)]="transferToId" class="form-select custom-select border-dark mb-3" name="parameter">
                    <ng-container *ngFor="let table of tables">
                        <option [value]="table.id"> {{ table.name }} </option>
                    </ng-container>
                </select>
            </div>           
            <div class="my-2">
                <button (click)="transfer()" class="btn btn-primary mx-1">Remove</button>
                <button (click)="onCloseTransfer()" class="btn btn-secondary mx-1">Close</button>
            </div>
        </app-modal>
    </ng-container>
</ng-container>