<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script src="/static/js/productsMain.js"></script>
    <link rel="stylesheet" href="/static/css/products.css"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GeekHub Cool Shop</a>
            <div class="navbar-brand">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/products">Products</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/bucket">Bucket</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container-fluid">
            <div class="row">
                <!--Main page-->
                <div class="col min-vh-100 py-3">
                    <div class="container mt-3">
                        <div class="d-grid gap-2">
                            <div class="coll">
                                <h2 class="mb-3 px-2">Products</h2>
                            </div>
                            <div id="productsListError" style="display: none" class="alert alert-danger"
                                 role="alert">
                                Wrong input type!
                            </div>
                            <div id="productsListInfo" style="display: none" class="alert alert-success"
                                 role="alert">
                                Wrong input type!
                            </div>
                            <button type="button" class="btn btn-outline-dark mb-3" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                Add product
                            </button>
                            <div class="float-start">
                                <form id="productFilter" class="row g-3 mx-auto">
                                    <h2 class="title text-dark">Search</h2>
                                    <div class="col-auto">
                                        <select class="form-select custom-select border-dark" id="sortParameter"
                                                name="parameter" form="productFilter">
                                            <option value="name" selected>Name</option>
                                            <option value="price">Price</option>
                                            <option value="rating">Rating</option>
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <input id="namePattern" type="text" class="form-control border-dark"
                                               placeholder="Name pattern" name="pattern">
                                    </div>
                                    <div class="col-auto">
                                        <button id="searchButton" type="submit" class="btn btn-dark mb-3">Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div id="productComponent" class="row row-cols-1 row-cols-md-4 g-4">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add product form</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="wrongInputAlert" style="display: none" class="alert alert-danger"
                                     role="alert">
                                    Wrong input type!
                                </div>
                                <form id="addProductForm">
                                    <div class="mb-3">
                                        <label for="nameInput" class="form-label">Product name</label>
                                        <input type="text" class="form-control" name="name" id="nameInput">
                                        <div id="nameFeedback" class="invalid-feedback">
                                            Please choose a name.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="priceInput" class="form-label">Product price</label>
                                        <input type="number" class="form-control" name="price" id="priceInput"
                                               placeholder="0.00">
                                        <div id="priceFeedback" class="invalid-feedback">
                                            Please choose a price.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="fileInput" class="form-label">Product image</label>
                                        <input class="form-control" type="file" name="file" id="fileInput">
                                        <div id="fileFeedback" class="invalid-feedback">
                                            Please choose a file.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="closeModalButton" type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button id="addProductButton" type="submit" class="btn btn-dark-outline">
                                            Save
                                            changes
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>