<div (click)="cardClick()" class="card cursor-pointer" style="height: 100%;">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>    
    <div class="card-header">
        <div class="mb-2" style="display: flex; justify-content: space-between;">
            <h5 class="fw-bold card-text">Guest: {{ guest.name }} </h5>
        </div>
    </div>
    <div class="card-body">
      
        <p><strong>Name:</strong> {{ guest.name }} </p>
        <p><strong>Phone Number:</strong> {{ guest.phoneNumber }} </p>
        <p><strong>Discount Percent:</strong> {{ guest.discountPercent }}% </p>
        <p><strong>Status: </strong> <span class="badge"
                [ngClass]="guest.active ? 'text-bg-success' : 'text-bg-danger'">
                {{ guest.active ? 'active' : 'closed' }} </span></p>
    </div>
</div>