<ng-container *ngIf="(pageState$ | async) as pageState">
    <div class="container border my-3 rounded" style="height: 100hv;">
        <div class="container">
            <p-toast></p-toast>
            <p-confirmPopup></p-confirmPopup>
            <h1 class="text-center">Bill: <i> {{ pageState.bill.id }} </i></h1>
            <div class="row">
                <ng-container *ngIf="pageState.dataState === DataState.LOADING_STATE">
                    <app-spinner></app-spinner>
                </ng-container>
                <ng-container *ngIf="pageState.dataState === DataState.LOADED_STATE">
                    <div class="col-6">
                        <p [ngClass]="pageState.waiter ? 'cursor-pointer' : null"><strong>Waiter: </strong> <span
                                class="badge" [ngClass]="pageState.waiter ? 'text-bg-success' : 'text-bg-danger'">
                                {{ pageState.waiter ? pageState.waiter.username : 'absent' }} </span></p>

                        <p (click)="onGuest()" [ngClass]="pageState.guest ? 'cursor-pointer' : null"><strong>Guest: </strong> <span
                                class="badge" [ngClass]="pageState.guest ? 'text-bg-success' : 'text-bg-danger'">
                                {{ pageState.guest ? pageState.guest.name : 'absent' }} </span></p>

                        <p [ngClass]="pageState.bill.orderId ? 'cursor-pointer' : null" (click)="onOrder()">
                            <strong>Order: </strong> <span class="badge"
                                [ngClass]="pageState.bill.orderId ? 'text-bg-success' : 'text-bg-danger'">
                                {{ pageState.bill.orderId ? 'present' : 'absent' }} </span>
                        </p>

                        <p><strong>Status: </strong> <span class="badge"
                                [ngClass]="pageState.bill.active ? 'text-bg-success' : 'text-bg-danger'">
                                {{ pageState.bill.active ? 'active' : 'closed' }} </span></p>
                        <p><strong>Created At: </strong> {{pageState.bill.createdAt}} </p>
                        <p><strong>Closed At: </strong> {{pageState.bill.closedAt}} </p>
                        <p><strong>Total: </strong> {{ pageState.bill.price }} </p>
                        <p><strong>Discount: </strong> {{ pageState.guest ? pageState.guest.discountPercent : '0' }}%
                        </p>
                        <p><strong>Total with discount: </strong> {{ pageState.bill.priceWithDiscount }} </p>
                        <div class="mb-3">
                            <button (click)="onActivate()"
                                class="btn btn-success me-3 w-25 border-1 border-dark">Activate</button>
                            <button (click)="onClose()"
                                class="btn btn-warning me-3 w-25 border-1 border-dark">Close</button>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary me-3 w-25 border-1 border-dark"
                                (click)="onGenerate()">Generate</button>
                            <button class="btn btn-danger me-3 w-25 border-1 border-dark"
                                (click)="onDelete()">Delete</button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="pageState.bill.orderId && pageState.products.size !== 0">
                    <h2 class="text-center">Order products</h2>
                    <div class="row row-cols-2 row-cols-md-3 g-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let product of pageState.products | keyvalue">
                                    <tr class="cursor-pointer" (click)="onRow(product.key.id)">
                                        <td> {{ product.key.name }} </td>
                                        <td> {{ product.value }} </td>
                                        <td> {{ product.key.price }} </td>
                                        <td> {{ product.key.price * product.value }} </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>