<ng-container *ngIf="authorizedUser !== null">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
        <div class="container-fluid">
            <a class="navbar-brand mb-2" href="#">Restraint manager</a>
            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item cursor-pointer" (click)="onTables()">
                        <a class="nav-link cursor-pointer">Tables</a>
                    </li>
                    <li class="nav-item cursor-pointer" (click)="onProducts()">
                        <a class="nav-link">Products</a>
                    </li>
                    <li class="nav-item cursor-pointer" (click)="onOrders()">
                        <a class="nav-link">Orders</a>
                    </li>
                    <li class="nav-item cursor-pointer" (click)="onBills()">
                        <a class="nav-link">Bills</a>
                    </li>
                    <ng-container *ngIf="authorizedUser.authenticated.user.roles.includes('ADMIN')">
                        <li class="nav-item cursor-pointer" (click)="onAdmin()">
                            <a class="nav-link">Admin</a>
                        </li>
                    </ng-container>
                    <li class="nav-item cursor-pointer" (click)="onCalls()">
                        <a class="nav-link">Calls <span *ngIf="calls.length !== 0" class="badge bg-secondary">
                                {{calls.length !== 0 ? calls.length : ''}}</span></a>
                        <p-overlay [(visible)]="overlayVisible"
                            [responsive]="{ breakpoint: '640px', direction: 'bottom', contentStyleClass: 'h-20rem' }"
                            contentStyleClass="p-4 surface-overlay shadow-2 border-round">
                            <ng-container *ngFor="let call of calls">
                                <div>
                                    {{ call.id }}
                                </div>
                                <p-button (onClick)="onCall(call.id)" label="Close"></p-button>
                            </ng-container>
                        </p-overlay>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="navbar-text me-3">Welcome, <span (click)="onUser()" class="cursor-pointer"> {{
                                authorizedUser.authenticated.user.username }}</span>!</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onLogout()" href="#login">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</ng-container>