<div (click)="cardClick()" class="card cursor-pointer" style="height: 100%;">
        <p-toast></p-toast>
        <p-confirmPopup></p-confirmPopup>
        <div class="card-body">
                <div class="mb-2" style="display: flex; justify-content: space-between;">
                        <h5 class="fw-bold card-text"> {{ order.id }} </h5>
                </div>
                <p class="card-text cursor-pointer"><strong>Creator: </strong><span class="badge"
                                [ngClass]="order.userId ? 'text-bg-success' : 'text-bg-danger'">
                                {{ order.userId ? 'present' : 'absent' }} </span>
                </p>
                <p><strong>Created At: {{ dateString() }} </strong> </p>
                <p><strong>Closed At: </strong> {{ order.closedAt }}</p>
                <p class="card-text cursor-pointer"><strong>Table: </strong><span class="badge"
                                [ngClass]="order.tableId ? 'text-bg-success' : 'text-bg-danger'">
                                {{ table ? table.name : 'absent' }} </span>
                </p>
                <p class="card-text"><strong>Bill: </strong><span class="badge"
                                [ngClass]="order.billId ? 'text-bg-success' : 'text-bg-danger'">
                                {{ order.billId ? 'present' : 'absent' }} </span>
                </p>
                <p><strong>Status: </strong> <span class="badge"
                                [ngClass]="order.active ? 'text-bg-success' : 'text-bg-danger'">
                                {{ order.active ? 'active' : 'closed' }} </span></p>
        </div>
</div>