<ng-container *ngIf="(pageState$ | async) as pageState">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <div class="container mt-2">
        <ng-container *ngIf="pageState.dataState === DataState.LOADING_STATE">
            <p-progressSpinner></p-progressSpinner>
        </ng-container>
        <ng-container *ngIf="pageState.dataState === DataState.LOADED_STATE">
            <ng-container *ngIf="isAdmin">
                <p-toggleButton style="width: 10vh;" onLabel="Inactive" [(ngModel)]="onlyInactive" onLabel="Inactive"
                    offLabel="All"></p-toggleButton>
            </ng-container>
            <div class="row row-cols-4 row-cols-md-5 g-4 my-2" style="height: 600;">
                <ng-container *ngFor="let order of pageState.orders">
                    <ng-container *ngIf="onlyInactive ? !order.active : true">
                        <app-order-card (onClick)="onCard($event)" [order]="order"
                            [table]="pageState.tableNames.has(order.tableId) ? pageState.tableNames.get(order.tableId) : null"></app-order-card>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>

    </div>
</ng-container>