<div class="container mt-3">
  <ng-container *ngIf="(pageState$ | async) as pageState">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <div class="row">
      <div class="col-lg-3" id="searchColl">
        <div class="input-group mb-3">
          <input (input)="updatePattern()" [(ngModel)]="findProductsState.pattern" class="form-control"
                 id="searchInput" type="text" placeholder="Search products...">

        </div>
        <select (change)="onSearch()" [(ngModel)]="findProductsState.category"
                class="form-select custom-select border-dark mb-3" name="parameter">
          <option value="" selected>All</option>
          <ng-container *ngFor="let category of pageState.categories">
            <option [value]="category.id"> {{ category.name }} </option>
          </ng-container>
        </select>
        <ng-container *ngIf="isAdmin">
          <button (click)="showModal()" class="btn btn-primary mb-3 border-1 border-dark"
                  style="width: 100%;">Create Product
          </button>
        </ng-container>
        <div style="width: 100%;">
          <nav style="width: inherit;" aria-label="Page navigation">
            <ul class="pagination  justify-content-center">
              <li class="page-item cursor-pointer" [ngClass]="pageState.page.first ? 'disabled' : null"><a
                (click)="previousPage()" class="page-link" [attr.aria-disabled]="true">
                <svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </a>
              </li>
              <ng-container *ngFor="let page of pageState.pages">
                <li class="page-item cursor-pointer"
                    [ngClass]="page === (pageState.page.number + 1) ? 'disabled' : null"
                    aria-current="page"><a (click)="updatePage(page)" class="page-link"> {{ page }} </a>
                </li>
              </ng-container>
              <li class="page-item cursor-pointer" [ngClass]="pageState.page.last ? 'disabled' : null"><a
                (click)="nextPage()" class="page-link" [attr.aria-disabled]="true">
                <svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-9" id="productsColl">
        <ng-container *ngIf="pageState.dataState === DataState.LOADING_STATE">
          <p-progressSpinner></p-progressSpinner>
        </ng-container>
        <ng-container *ngIf="pageState.dataState === DataState.LOADED_STATE">
          <div class="row row-cols-4 row-cols-md-4 g-4 mb-2" style="height: 60vh;">
            <ng-container *ngFor="let product of pageState.page.content">
              <app-products-card
                [ngClass]="border && productId === product.id ? 'border border-primary rounded-4 border-3' : null"
                (onClick)="onCard($event)" [product]="product"
                [category]="getCategory(product)"></app-products-card>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<!--Create product modal-->
<ng-container *ngIf="showCreateModal">
  <ng-container *ngIf="(createState$ | async) as cSate">
    <app-modal [closeOnClick]="false" [showModal]="showCreateModal" (closeModel)="closeModal()">

      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input [ngClass]="cSate.invalid && cSate.violations.name ? 'is-invalid' : null" type="text"
               class="form-control" id="name" [(ngModel)]="productData.name" name="name">
        <div *ngIf="cSate.invalid && cSate.violations.name">
          <div class="text-red-500">
            {{ cSate.violations.name }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input [ngClass]="cSate.invalid && cSate.violations.price ? 'is-invalid' : null" type="number"
               class="form-control" id="price" [(ngModel)]="productData.price" name="price">
        <div *ngIf="cSate.invalid && cSate.violations.price">
          <div class="text-red-500">
            {{ cSate.violations.price }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>
        <input [ngClass]="cSate.invalid && cSate.violations.weight ? 'is-invalid' : null" type="number"
               class="form-control" id="weight" [(ngModel)]="productData.weight" name="weight">
        <div *ngIf="cSate.invalid && cSate.violations.weight">
          <div class="text-red-500">
            {{ cSate.violations.weight }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input [ngClass]="cSate.invalid && cSate.violations.file ? 'is-invalid' : null" type="file"
               class="form-control" id="image" (change)="onImageSelected($event)" name="image">
        <div *ngIf="cSate.invalid && cSate.violations.file">
          <div class="text-red-500">
            {{ cSate.violations.file }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea [ngClass]="cSate.invalid && cSate.violations.description ? 'is-invalid' : null"
                  class="form-control" id="description" [(ngModel)]="productData.description"
                  name="description"></textarea>
        <div *ngIf="cSate.invalid && cSate.violations.description">
          <div class="text-red-500">
            {{ cSate.violations.description }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        <select class="form-select" id="categoryId" [(ngModel)]="productData.categoryId" name="categoryId">
          <option value="" selected>Not specified</option>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name
            }}</option>
        </select>
      </div>
      <button (click)="createProduct()" class="btn btn-primary me-2">Create Product</button>
      <button (click)="closeModal()" class="btn btn-secondary">Close</button>
    </app-modal>
  </ng-container>
</ng-container>
